# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#model
llama32_ent_triage_cls_lora_merged
llama32_ent_triage_cls_lora_adapter
llama32_ent_triage_cls_lora
llama32_ent_triage_cls_lora_adapter.tar.gz
llama32_ent_triage_cls_lora_merged.tar.gz
llama32_ent_triage_cls_lora_metrics_per_epoch.csv
llama32_ent_triage_cls_lora_predictions_tau0_6.csv
.venv
.vs
# production
/build

# misc
.DS_Store

.env*


npm-debug.log*
yarn-debug.log*
yarn-error.log*
Backend/healthlakeproxy/rbac.db-shm
Backend/healthlakeproxy/rbac.db-wal
Backend/healthlakeproxy/rbac.db-wal
/Backend/healthlakeproxy/node_modules
Backend/healthlakeproxy/rbac.db-wal
Backend/healthlakeproxy/rbac.db-shm
Backend/healthlakeproxy/rbac.db-shm
Backend/healthlakeproxy/rbac.db-wal
Backend/healthlakeproxy/rbac.db-shm
/Backend/imageRetrieval/src/__pycache__
/Backend/imageRetrieval/src
/Backend/__pycache__
